@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
#session-messages {
    font-size: 12px !important;
}
div.box {
  margin: auto;
  padding: 0px;
}
#img-column {
    padding: 0px;
    max-height: 260px;
}
img {
    height: 260px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
hr {
    margin: 0px;
}
.product-info {
    background-color: #e8e8e8;
    padding: 0px;
}
.product-info > p {
    padding: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Maven Pro', sans-serif;
    color: #00D1B2;
}
#input-column {
    padding-top: 30px;
    padding-bottom: 30px;
}
.error {
  display: none;
  font-size: 13px;
}
.error.visible {
  display: inline;
}
.error {
  color: #E4584C;
}
/***********
SUCCESS PAGE
*************/
#thank-you  h1 {
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    margin-bottom: 0px;
    color: #00D1B2;
}
#thank-you > p {
    font-family: 'Maven Pro', sans-serif;
    padding-bottom: 20px;
}
#thank-you {
    background-color: #e8e8e8;
    padding: 0px;
}
.big  {
    font-size: 200px;
    color: #00D1B2;
}
.sub-title {
    font-family: 'Maven Pro', sans-serif;
    font-size: 40px;
}
#message {
    background-color: #e8e8e8;
    padding: 0px;
}
#message p {
    font-family: 'Maven Pro', sans-serif;
    padding: 30px 20px 30px 20px;
    color: #00D1B2;
}