
// Body
$body-bg: #1C2F3C;
$black: rgba(38,63,80,100);
$black-med: rgba(38,63,80,60);
$black-light: rgba(38,63,80,20);
$light-body-bg: #f5f8fa;
$yellow : rgba(231, 184, 60, 1);
$yellow-med : rgba(231, 184, 60, .6);
$yellow-light : rgba(231, 184, 60, .2);
$font-black: #212529;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



	// color??? https://coolors.co/33658a-2f4858-63b9bc-f6ae2d-f26419
	$teal : #33658a;
	$dark-blue : #2f4858;
	$red : red;
	$violet : #5C2751;
	$white:white;
	$dark-blue-rgba : rgba(47,72,88,1);
	$dark-blue-rgba-fade : rgba(47,72,88,0.3);
	$light-blue : #63b9bc;
	$saffron : #f6ae2d;
	$orange : #f26419;
	$orange-rgba: rgba(242,100,25,1);
	$orange-rgba-fade: rgba(242,100,25,0.7);
	$bgOne : $dark-blue;
	$red : #dc3545;
	$purple: purple;
	$ultralight-grey : #dcdcdc;
	$light-grey : #c8c8c8;
	$med-grey : #a9a9a9;
	$dark-grey: #a0a0a0;
	$ultradark-grey: #585858;
	$task-end-color: $orange;
	$task-start-color: $purple;
	$offwhite:$ultralight-grey;
	$selectChild: $light-blue;
	$selectParent:$orange;

$navbar-light-color: $white;                
$navbar-light-hover-color:  $white;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;


