@import "variables";

$bp-phone: "only screen and (max-width: 700px)";
$bp-tablet: "only screen and (max-width: 1100px)";
a.anchor{
	color:$teal !important;
}
$btn-radius : 2px;
@font-face {
	font-family: 'Sora';
	src: url('/fonts/Sora-VariableFont_wght.ttf')  format('truetype');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}
:root {
  --task-padding-width-1: 1px;
  --task-padding-width-2: 2px;
  --task-padding-width-10: 10px;
}
html{
	height:100%;
	body{
		line-height:0;
		font-family:'Sora';
		#app{
			height:calc(100% - 67px);
			.main{
				line-height:1.6;
				height:100%;
			}
		}
		&.projects-timeline{
			#app{
				.main{
					height:unset;
				}
			}
		}
	}
}

@mixin traverse-button{
	border-radius: $btn-radius;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    vertical-align: middle;	line-height:36px;
	background-color:transparent;
	border:solid 1px $ultralight-grey;
	color:$light-grey;
	&.active{
		border:solid 1px $orange;
		color:$orange;

	}

}
.btn,button.btn{
	border-radius: $btn-radius !important;
}
@mixin diamond{
	content:'\25C6';
	color:$blue;
}
@mixin card-modal{
	background-color: $white;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 7px 7x 5px 0px rgba(0,0,0,0.1);
	box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.1);
}
@mixin active-calendar-dblclick{
	background-image: linear-gradient(
		45deg, 
		rgba(255,0,0,0.5) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(255,0,0,0.5) 50%, 
		rgba(255,0,0,0.5) 75%, 
		transparent 75%, 
		transparent
	);
	background-size: 5px 5px;
}
@mixin task-start{
}
@mixin task-end{
}
@mixin edit-button{
}
@mixin active-edit-button{
	background-color:$dark-blue;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	border:0;
}
@mixin active-calendar-click{
	background-image: linear-gradient(
		45deg, 
		rgba(190,190,190,0.5) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(190,190,190,0.5) 50%, 
		rgba(190,190,190,0.5) 75%, 
		transparent 75%, 
		transparent
	);
	background-size: 5px 5px;
}
@mixin blocked-day {
	padding-right:2px;
	padding-left:2px;
	background-image: linear-gradient(
		45deg, 
		rgba(190,190,190,0.5) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(190,190,190,0.5) 50%, 
		rgba(190,190,190,0.5) 75%, 
		transparent 75%, 
		transparent
	);
	background-size: 5px 5px;
}
@mixin closed-day {
/*
	background-image: linear-gradient(
		135deg, 
		rgba(0,0,0,0.5) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(0,0,0,0.5) 50%, 
		rgba(0,0,0,0.5) 75%, 
		transparent 75%, 
		transparent
	);
	background-size: 5px 5px;
	*/
}
@mixin blocked-day-dark {
	background-image: linear-gradient(
		45deg, 
		rgba(140,140,140,0.5) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(140,140,140,0.5) 50%, 
		rgba(140,140,140,0.5) 75%, 
		transparent 75%, 
		transparent
	);
	background-size: 5px 5px;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
#timeline-container{
	position:relative;
	&.loading{
		.loading-container{
			opacity:1;
		}
		#timeline-container-inner{
			opacity:0;
		}
	}
	#timeline-container-inner{
		opacity:1;
		transition:opacity .6s;
	}
	.loading-container{
		position:absolute;
		width:100%;
		top:0;
		left:0;
		right:0;
		opacity:0;
		transition:opacity .4s;
		padding-top:15%;
		text-align:center;
		&.hidden{
			display:none;
		}
	}
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: calc(100% - 100px) !important;
	}
}
.page-title-wrapper{
	h1{
		color:white;
	}
}
.pull-right{
	float:right;
}
.navbar-laravel {
	background-color:$black;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
	.navbar-brand{
		img{
			height:40px;
			width:auto;
		}
	}
	.nav-item{
		padding-right:20px;
		padding-left:20px;
		&.dropdown{
			.dropdown-menu{
				a.dropdown-item{
					padding-bottom:7px;
					padding-top:7px;
					&:visited,&:focus,&:active{
						color:#16181b;
					}
					&:hover{
						color:purple;
					}
				}
			}
		}
	}

}
.ui-menu{
	.ui-menu-item-wrapper{
		font-size:1rem;
		line-height:1.5rem;
		padding:10px !important;
		color:#495057 !important;
		&:hover{
			background:$yellow;
		}
	}
}
.form-prompt{
	width:100%;
	display:inline-block;
	visibility:hidden;
	font-style:italic;
	color:#495057;
	font-weight:400;
	text-align:right;
	&.active{
		visibility:visible;
	}
}
#existingGroup_wrapper{
	visibility:hidden;
	&.active{
		visibility:visible;
	}

}
.form-instructions{
	color:gray;
	margin-bottom:7px;
}
#calendar{
	height:600px;
}
.inline{
	display:inline-block;
}
.no-gutter{
	padding-left:0 !important;
	padding-right:0 !important;
}
input.no-border{
	background-color:transparent;
	border:0;
	padding:3px;
	padding-bottom:7px;
	padding-left:12px;
	&:focus, &.edit-input{
		background-color:$white;
		outline: none !important;
		box-shadow: 4px 4px 4px 0px rgba(150,150,150,0.2);
	}
}
.expanding-textarea{
	resize:none;
}
#setPivotLabel{
	margin-right:16px;
//	display:none;
}

.project-edit{
	input.no-border{
		color:$dark-grey;
	}
	button[data-target="#partnerModal"] {
		display:none !important;
	}
	#updateTask{
		.modal-content{
			background-color:$ultralight-grey;
			.project-input{
				padding-left:4px;
				padding-top:7px;
			}
			.task-header{
				.project-settings.open{
					display:inline-block !important;
				}
			}
			#task-schedule{
				.date-button{
					&#start-date-button, &#end-date-button{
						&.active{
							background-color:transparent;
						}
					}
				}			
				.project-settings.open{
					&#project-partners{
						padding-top:0;
						padding-bottom:0;
					}
				}
			}
		}
	}
	.task{
		&:hover{
			&::before,&::after{
				position:absolute;
				top:-10%;
				display:inline-block;
				display:none;
				z-index:9999;
				background:$white;
				width:100px;
				height:120%;
				color:$white;
				font-size:36px;
				border-radius:4px;
				background-color: $offwhite;
		    	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
		    	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);		
				//cursor:pointer;
				padding-top:20%;		
				text-align:center;
			}
			&::before{
				content:'+>';
				left:-90px;
			}
			&::after{
				right:-90px;
				content:'<+';
			}
		}
	}
	#add-task{
		z-index:99999;
		@include active-edit-button
	}		
}
#form-task-title{
	display:none;
	padding-top:10px;
}

.task-edit{
	input.no-border{
		color:$dark-grey;
	}
	#updateTask{

		.modal-content{
			background-color:$ultralight-grey;
			.project-input{
				padding-left:4px;
			}
			.task-header{
				.project-settings.open{
					display:inline-block !important;
				}
			}
			#task-schedule{

				.date-button{
					&#start-date-button, &#end-date-button{
						&.active{
							background-color:transparent;
						}
					}
				}			
				.project-settings.open{
					display:inline-block;
					&#project-partners{
						padding-top:0;
						padding-bottom:0;
					}
				}
			}
			.delete-task{
				display:inline-block;
			}		
			#group-assign{
				margin-bottom:10px;
			}
			#user-assign{
				opacity:0;
			}
		}
		#form-task-title-reading{
			display:none;
		}
		#form-task-title{
			display:inline-block;
		}		
	}
}
.sidebar{
	height:100%;
	display:inline-block !important;
	padding:30px;
	padding-top:0;
	padding-left:0;
	position:relative !important;
	float:left;
	#form-task-title-reading{
		color:white;
	}
	#main-sidebar-row{
	}
	.dialog-wrapper{
		width:100%;
		min-height:100px;
		border-radius:10px;
		@include card-modal;
		.modal-dialog{
			margin:0 !important;
			display:block !important;
			width:100% !important;
			transition:none !important;
			transform:none !important;

			.modal-content{
				background-color:transparent;
				border:0 !important;
				border-radius: 10px !important;
				.modal-content-top-header{
					border-radius:10px 10px 0 0;
					height:70px;
					width:100%;
					background:purple;
					margin-bottom:-50px;
					padding: 20px 20px 30px;
				}
			}
		}

	}
}
.main{
	display:block !important;
	margin:auto;
	margin-top:0 !important;
	padding-top:0 !important;
	.vertical-center{
		height:100%;
		position:relative;
		> .container{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);				
			.card{
				.custom-control-input:checked ~  .custom-control-label::before { 
					background-color: $yellow !important; 
					color:$black;
					content:'x';
					height:1rem;
					font-weight:bold;
					color:white;
					line-height:1rem;
					padding-left:3px;
				}
				.custom-control-input:active ~ .custom-control-label::before { 
					background-color: $yellow !important; 
				}
				.card-body{
					padding:40px;
					.form-control{
						&:focus{
							box-shadow:none;
							border-color:$yellow;
						}
					}
					.checkbox{
						input[type="checkbox"]:after {
							border-color: #FF8800;
							background-color: #FF8800;
						}
						label::before{
							background: #D7B1D7;
						}
					}
				}
			}
		}
	}
	> .container{
		display:block !important;
	}
	.sidebar{
		width:0;
		-webkit-transition: width .5s ease-in-out;
		transition: width .5s ease-in-out;    
	}
	.container{
		padding-top:20px;
	}
}

.project-owner-admin,.task-owner-group{
	button#task-edit-toggle{
		display:none;	
	}
}
.task-open{
	.main{
		.project-container{
			width:60%;
			display:inline-block !important;
			margin:0;
			float:right;
			-webkit-transition: width .5s ease-in-out;
			-moz-transition: width .5s ease-in-out;
			-o-transition: width .5s ease-in-out;
			transition: width .5s ease-in-out;
		}
		.sidebar{
			opacity:1;
			width:40%;
			display:inline-block !important;
			position:relative;
			float:left;
			-webkit-transition: width .5s ease-in-out;
			-moz-transition: width .5s ease-in-out;
			-o-transition: width .5s ease-in-out;
			transition: width .5s ease-in-out;
			button#task-edit-toggle{
				display:inline-block;	
			}
		}
		@media #{$bp-tablet} {
			.sidebar{
				position:absolute !important;
				z-index:999;
				top:18px;
				left:-30px;
				height:100%;
				width:50% !important;
			}
			.project-container{
				width:100% !important;
			}
		}              
		@media #{$bp-phone} {
			.sidebar{
				width:90% !important;
			}
		} 
		.task:not(.activeSidebarTask), .task:not(.activeSidebarTask).pending{
			.task-description{
				color:$dark-grey;
			}
		}
		@keyframes pulse-black {
			0% {
				transform: scale(0.95);
				box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
			}
			70% {
				transform: scale(1);
				box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
			}
			100% {
				transform: scale(0.95);
				box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
			}
		}
		.task{
			&.new{
				.task-days-wrapper{
					opacity:.4;
					box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
					transform: scale(1);
					animation: pulse-black 1s infinite;	
				}
			}
			&.new:not(.moving-inactive){
				.task-days-wrapper{
					background: white !important;
				}
			}
			&.moving-inactive{
				.task-days-wrapper,.description-text{
					opacity:0.5;
				}
			}
			&.short-width{
				text-align:center;
				.task-description{
					padding-left:0;
					padding-right:0;
					margin-left:7px;
					.task-description-inner{
						margin:0 auto;
						padding-left:4px;
						padding-right:4px;
					}
					&:hover{
						.tooltip-wrapper{
							display:inline-block;
						}
					}
				}
			}
		}
	}
}
.showThreadInfo{
	.main{
		> .container{
			width:70%;
			display:inline-block;
			margin:0;
		}
		.thread-info{
			height:300px;
			background-color:blue;
			width:30%;
			display:inline-block;
			margin:0;
			position:relative;
			float:left;
		}
	}
}
.modal-body{
	input{
		width:auto;
	}
}
body{
	height:100%;
	overflow-y:scroll !important;
}
.app-container{
	width:100%;
	direction:rtl;
}
.project-container{
	height:100%;
	display:inline-block;
	overflow: visible !important;
}
.deliverable-container{
	width:100%;
	height:150px;
	margin-top:5px;
	border:solid 1px red;
}
.first-tasks{
	float:left;
	border:solid 1px black;          
	height:100%;
}
.last-task{
	display:inline-block;
	height:100%;
	border:solid 1px green;
	float:right;
}
.thread-container{
	position:relative;
	width:100%;
	display:block;
	text-align:right;
}
.thread-container .thread-control {
	width:45px;
	height:45px;
	display:none;
	position:absolute;
	top:10px;
	right:10px;
	background-color:transparent;
	background-image: url("/img/compass-3.svg");
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: right top;
}
.thread-container .thread-control:hover {
	//cursor:pointer;
}
.task{
	width:100%;
	display:inline-block;
	height:100%;
	text-align:left;
	color:#707070;
	color:#f0f0f0;
	padding:10px;
//	border:solid transparent 10px;
//box-shadow: inset 0 0 10px #0f0;
	position:relative;
	&.fadeOut{
		.task-description-inner{
			opacity:0.2;
		}
	}
	&.new{
		.task-days-wrapper{
			background: white !important;
			opacity:.4;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
			transform: scale(1);
			animation: pulse-black 1s infinite;	
		}
	}	
	&.moving-inactive.new{
		.task-days-wrapper{
			background:transparent !important;
		}
		.description-text{
			display:none;
		}
	}
	&.new-parent{
		padding-left:20px;
		&:before{
			content:'';
			position:absolute;
			left:0px;
			top:0;
			bottom:0;
			width: 15px;
			transition:height 0.5s;
			border: solid 2px white !important;
			transform: scale(1);
			animation: pulse-black 1s infinite;	
			border-radius:4px;
		}
		&:after{
			position:absolute;
			left:-1px;
			top:-20px;
			opacity:1;
			color:white;

		}		
	}
}
.children{
	height:100%;
	display:inline-block;
	transition:height .5s;
}
.blue{
	background-color:blue !important;
}
.zoom{
	width:100px;
	border:solid 1px grey;
}
#calendar-container{
	margin-top:20px;
	margin-bottom:25px;
	position:relative;
	#newTaskRangeBubble {
		&.inactive{
			//cursor:pointer;
			background: $yellow;
			color: $black;
			font-weight:bold;
			padding: 4px 12px;
			position: absolute;
			right: 50%;

			bottom:-60px;
			transform: translateX(50%);
			border-radius: 24px;
		    height: 36px;
		    line-height: 34px;
		    padding: 0 24px;
			padding-left: 35px;
		    &:before{
				content: "+";
			    font-size: 24px;
			    font-weight: 400;
			    position: absolute;
			    left: 16px;		    
		    }
		}	
	}
	#newTaskRangeBubble {
		display:none;
	}
	#newTaskRangeBubble.inactive{
		display:inline-block;
	}
	#newTaskRangeBubble.inactive::after {
	}	
	.slidecontainer {
		position:absolute;
		margin-right:-15px;
		width: calc(100% + 30px); /* Width of the outside container */
		z-index:999999999;
		//cursor:crosshair;
	}

	/* The slider itself */
	.slider {
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		//cursor: crosshair;
		//-webkit-appearance: none;  /* Override default CSS styles */
		//appearance: none;
		width: calc(100% ); /* Full-width */
		height: 25px; /* Specified height */
		outline: none; /* Remove outline */
		opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
		-webkit-transition: .2s; /* 0.2 seconds transition on hover */
		transition: opacity .2s;
		&::-webkit-slider-runnable-track {
		  background: transparent;
		}
		&::-moz-range-track {
		 background: transparent;
		}
		&::-webkit-slider-thumb {
		   -webkit-appearance: none; /* Override default look */
		   appearance: none;
		   background-color: transparent;
		   //border:solid 1px #050505;
		   width: 36px;    
		   height:36px;
		   border-radius:50%;
		}

	}
}
body.add-new-task{
	.project-container{
		cursor:none;
	}
	#calendar-container{
		.slidecontainer{
			display:block;
			cursor:none;
			opacity:.4;
			.slider{
				&::-webkit-slider-thumb {

					cursor:none;
					//border:solid 2px white;
				}
				&.inactive{
					opacity:1;
					cursor:none;
					position:relative;
					&::-webkit-slider-thumb {
						-webkit-appearance: none; /* Override default look */
						appearance: none;
						opacity:1;
						background-color: white;
						width: 30px;    
						height:30px;
						border-radius:50%;
						cursor:none;
						outline: 20px solid white;
						outline-offset: -2px;			   
					}
				}				
			}
		}
	}
	&.cursor-contained{
		cursor:crosshair !important;
		.slidecontainer{
			display:block;
			opacity:1 !important;
		}
	}

}
body.adding-new-task{
	#calendar-container{
		.slider {
			opacity:1;
			&::-webkit-slider-runnable-track {
			}
			&::-moz-range-track {
			}
			&::-webkit-slider-thumb {
			   background-color: $yellow;
			}

		}
	}	
}

.calendar{
	display:inline-block;
	width:100%;
}
.monthName{
	color:#a9a9a9;
	position:absolute;
	font-weight:bold;
	left:0px;
	top:-30px;
}
.month:not(:last-child){
	border-left:0 !important
}
.month{
	&:first-child{
		.day-container{
			&:first-child{
				.day{
					font-weight:bold;
				}
			}
			.monthName{
				display:none;
			}
		}
	}
	.day-container{
		.monthName{
			display:none;
		}
		.day{
			min-height:24px;
		}
		&:last-child{
			&::before{
				content:'' !important;
			}
			.monthName{
				display:block;
			}
		}
		&.task-start{
			.day{
				@include task-start;
				display:inline-block !important;
			}
			& + .day{
				display:none;
			}
		}
		&.task-end{
			.day{
				@include task-end;
				display:inline-block !important;
			}
		}
		&.task-start, &.task-end{
			position:relative;
			.day{
				//left:-5px;
				//top:-42px;
				font-size:24px;
				color:white;
				//position:absolute;
			}
			&:after{
//				background:white;
			}
			.monthName{
				display:block;
				//top:-64px;
			}
		}
	}
}
.dayName{
	font-size:11px;
	display:block;
}
.day-container{
	position:relative;
	display:inline-block;
	height:100%;
}
.day{
	text-align:left;
	position:absolute;
	z-index:999;
	left:0;
	color:#a9a9a9;
	border-radius:5px;
	font-weight:700;
	font-size:14px;
	padding-bottom:5px;
	padding-left:2px;
	.dayName{
		visibility:hidden;
	}
	&.currentDay{
		height:48px;
		border:solid 2px $light-blue;
		color:#888888;
		//background: repeating-linear-gradient(45deg, #d3d3d3, #d3d3d3 10px, #c8c8c8 10px, #c8c8c8 20px);
		&:after{
			position:absolute;
			top:25px;
			left:5px;
			content:'today';
			font-size:8px;
		}
	}
	&.targetDay{
		border:solid 2px #c8c8c8;
		color:#888888;
		background: repeating-linear-gradient(45deg, #e0e0e0, #e0e0e0 10px, #c8c8c8 10px, #c8c8c8 20px);
	}
}
.day:hover{
	display:block;
	color:$white;
	//cursor:pointer;
}
.task-description{
	background-color:inherit;
	float:left;
	padding:6px;
	max-width:calc(100% - 20px);
	border-radius:4px;
	.task-description-inner{
		max-width:100%;
		padding:10px;
		border-radius:4px;
		opacity:1;
		transition: opacity .3s;
		.tooltip-wrapper{
			height:30px;
			width:20px;
		}
		.description-text{
			direction: ltr;
			max-width:100%;
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size:16px;
			font-weight:bold;					
		}
	}
	//cursor:pointer;
	z-index:999;
	position:absolute;
	top:0;
	left:0;
	margin-top:10px;
	margin-left:10px;
}
.modal-open{
	padding-right:0 !important;
}
.start-buffer{
	border:solid 1.2px white;
	display:inline-block;
	background-color: blue;
	height:100%;
	border-radius:5px;
	background: repeating-linear-gradient(
		135deg,
		#d3d3d3,
		#d3d3d3 10px,
		#c8c8c8 10px,
		#c8c8c8 20px
	);
}
.end-buffer{
	display:inline-block;
	width:0px;
	height:100%;
	border-radius:5px;
	float:right;
}
.task-wrapper{
	height:100%;
	.task{
		float:none;
	}
}
.day-filler{
	float:right;
	height:100%;
	border-radius:5px;
	padding:5px;
	background: repeating-linear-gradient(
		135deg,
		#d3d3d3,
		#d3d3d3 10px,
		#c8c8c8 10px,
		#c8c8c8 20px
	);
	display:inline-block;
}
.task.u-2{
	background-color:#f26419 !important;
}
.main{
	h2{
		color:#a0a0a0
	}
}
.controls{
	margin-bottom:10px;
}
.zoom{
	display:none;
}
.midDensity, .highDensity{
	.month-centricVOID{
		border: solid 1.25px #e0e0e0;
		border-radius: 5px;
		padding: 2px;
		.day-container{
			.day{
			      visibility:hidden;
					border:0;
			}
		}
		.day-container.first-of-week{
			.day{
				visibility:visible;
			}
		}
	}
}
.highDensity{
  .Mon{
	.dayName{
	  visibility: visible;
	  }
  }
}
.density-0-30{
	.month{
		.day-container{
			.day{
				.dayName{
					left:5px;
				}
			}
			&.task-start{
				.day{
					display:block !important;
				}
				&:before{
					content:"";
				}
			}
			&.task-end{
				.day{
					display:block !important;
				}
				&:before{
					content:"";
				}
			}

		}
		&.month-centric{
			.day-container{
				&.blocked{
					.day{
						display:block !important;
					}
				}
			}
		}

	}	
}
.new-task-header{
	display:none;
}
button{
	&.new-task{
		display:none;
	}
}
.new-task{
	.new-task-header{
		display:inline-block;
		width:100%;
		.modal-cancel{
			width:10%;
			float:right;
		}
	}
	#start-label,#start-value, button.close{
		display:none;
	}
	.project-settings:not(#saveTask-wrapper){
		display: inline-block !important;
		font-size: 16px;
	}
	button{
		&.new-task{
			display:inline-block;
		}
		&.close-task{
			display:none;
		}
		&#task-edit-toggle{
			display:none;
		}
	}
	#addTaskModal{
		bottom:auto;
	}
}
#updateTask{
	.button-wrapper{
		text-align:right;
		button{
			margin-right:10px;
			margin-left:10px;

		}
	}

	.task-edit,.task-edit-new,&.editing{
		#task-edit-toggle{
			background-image: url("/img/Icon-Plus.svg");
			transform: rotate(45deg);	
			opacity:1;
		}
		.field-wrapper{
			width:100%;
			display:inline-block;
			margin-left:-15px;
			margin-right:-15px;
			label{
				width:50%;
				margin-bottom:0;
				&.full-width{
					width:100%;
				}
			}
			input,select{
				&.full-width{
					width:100%;
				}
				&.disabled{
					background:transparent;
					border:none;
				}
			}
		}
		#clear-close-date,#clear-start-date{
			&.disabled{
				display:none;
			}
		}
		.modal-content-top-header{
			background:transparent !important;
		}
	}
	.label.disabled{
		opacity:0.5;
		cursor:default;
	}
	input[type="text"]:disabled{
		background: #dcdcdc;
	}
	.edit-label{
		display:none;
	}
	.delete-task{
		display:none;
	}		
	.task-header{
		#move-task-wrapper{
			width:100%;
			visibility:visible;
			&.disabled{
				visibility:hidden;
			}
		}
		details[open]{
			> summary{
				&::after{
				  content: " -";

				}
			}
		}
		.task-move-error{
			height:20px;
			margin-top:2rem;
		}
		details{
			width:100%;
			text-align:right;
			font-size:16px;
			margin-left:-15px;
			>summary {
				list-style: none;
				text-decoration:underline;
				color:blue;
				font-size:.75rem;
			}
			.task-list{
				text-align:left;
				margin-top:.5rem;
				.radio-wrapper{
					display:flex;
					padding:.5rem;
					border:solid 1px #a0a0a0;
					border-bottom:0;
					input[type=radio]{
						display:none;
					}
					.parent-wrapper{
						width:100%;
					}
					input.make-new-thread{

					}
					label{
						cursor:pointer;
					}
					&:hover{

					}
					&:last-child{
						border-bottom:solid 1px #a0a0a0;
					}
					input:checked + label {
					   //font-weight: bold;
					}					
					.new-thread-wrapper{
						display:none;
						width:50%;
						float:right;
						label{
							width:calc(100% - 14px);
						}
					}
					input:checked + .new-thread-wrapper {
						display:inline-block;
					}
					&.task-has-started{
						background:#d0d0d0;
						cursor:default;
						&:hover{
							cursor:default;

						}
						label, label:hover{
							opacity:.5;
							cursor:default;
						}
					}
				}				
			}
		}
		#group-input{
			margin-bottom:10px;
		}
		summary::-webkit-details-marker,summary::marker {
			display: none;
			content:none;
		}
		summary::after {
			content: ' +';
		}

	}
	#task-length-label,
	#task-length-value{
		font-size:16px;
		opacity:.5;
		display:inline-block;
	}
	&.editing, &.new-task{
		margin-bottom:90px;
		.task-error-messages,
		.task-owner-label-wrapper-wrapper,
		#task-length-label,
		#task-realLength-label,
		#task-length-value,
		#task-realLength-value,
		#start-value,
		#end-value,
		button.close,
		.close-task
		{
			display:none;
		}	
		#task-close-date{
			display:inline-block;
		}
		#task-schedule{
			margin-top:0 !important;
		}
		.date-button.col-lg-6{
			padding:0 !important;
		}
		.hidden-input{
			display:inline-block;
		}
		.assign-task{
			padding-left:0;
			padding-right:0;
			margin-top:16px;
			a{
				text-align:left;
			}
		}
		#save-task-wrapper{
			display:none !important;
		}
		input{
			font-size:16px;
			border: solid 2px #a0a0a0;
			border-radius: 4px;
			background: white;			
		}
		.input-error{
			visibility:visible;
			display:inline-block;
		}
		.date-button.label-wrapper{
			margin-top:16px;
			margin-bottom:10px;
			padding-left:0;
			label{
				font-size:16px;
			}
		}
		#task-schedule{
			.label{
				font-size:16px;
			}
		}
		#project-partners{
			display:inline-block;
			width:100%;
			select{

				font-size:16px;
				height:31.6px;
				border: solid 2px #a0a0a0;
				border-radius: 4px;
				background: white;			
			}

		}
		.edit-label{
			display:inline-block;
			font-size:16px;
			color:$font-black;
			margin-bottom:0;
		}

	}
	.task-edit-new{
		.new-task.sidebar#updateTask{
			#saveTask-wrapper{
				display:none;
			}
		}
	}

	&.new-task{
		#task-edit-toggle,
		#start-date-button,
		#end-date-button{
			display:none;
		}
		.delete-task{
			display:inline-block;
		}				
		#form-task-title{
			border: solid 2px #a0a0a0;
			border-radius: 4px;
			background: white;
		}
		.assign-parent-task-toggle{
			display:none;
		}
	}	
}
#app.moving-task{
	.sidebar#updateTask{
		.fade-out-html{
			margin-left:15px;
		}
	}
}
.adding-task {
	.task{
		padding:20px;
		.new-task-section{
			display:inline-block;
		}
		&:hover{
			//cursor:pointer;
			&::before,&::after{
				position:absolute;
				top:-10%;
				display:inline-block;
				display:none;
				z-index:9999;
				background:$white;
				width:100px;
				height:120%;
				color:$white;
				font-size:36px;
				border-radius:4px;
				background-color: $offwhite;
			    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
			    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);		
    			//cursor:pointer;
    			padding-top:20%;		
    			text-align:center;
			}
			&::before{
				content:'+>';
				left:-90px;
			}
			&::after{
				right:-90px;
				content:'<+';
			}
		}
	}
}
.density-30-50,.density-50-100{
	.month{
		border-radius: 5px;
		padding: 2px;
		.day-container{
			.day{
				display:none;
				border:0;
				height:0;
				.dayName{
					left:0px;
				}
				background-image:none !important;
				&:hover{
					background:none !important;
				}
			}
			&:hover{
				.day{
					display:inline-block;
					.dayName{
						left:0px;
					}
				}
				&::before{
					content:'';
				}
			}
			&:last-child{
				.day{
					display:inline-block;
				}
				&::before{
					content:'';
				}
			}
			&.task-start{
				.day{
					@include task-start;
					border:0;
				}
				&:before{
					content:"";
				}
			}
			&.task-end{
				.day{
					@include task-end;
					border:solid 1px transparent;
				}
				&:before{
					content:"";
				}
			}
		}
	}
}
[data-days="1"] {
	.task-description{
		//display:none;
	}
}
.density-100-inf{
	.month{
		padding: 2px;
		.day-container{
			.day{
				display:none;
				border:0;
				height:0;
				.dayName{
					left:0px;
				}
			}
			&:not(.task-end):not(.task-start)::before{
				//content:'\2022';
				color:$light-grey;
			}
			&:hover{
				.day{
					display:inline-block;
					.dayName{
						left:0px;
					}
				}
				&::before{
					content:'' !important;
				}
			}
			&:last-child{
				.day{
					display:inline-block;
				}
				&::before{
					content:'';
				}
			}
		}
		[data-days="1"] {
			.task-description-inner{
				//display:none;
			}
		}
	}
}
#updateListener{
	display:none;
}
#ui-datepicker-div.ui-widget.ui-widget-content{
	z-index:9999 !important;
}
.sidebar{
	.modal-dialog {
		margin: 0.5rem auto !important;
	}
}
.modal-header{
	.close,.cancel-add-new{
		padding:0 !important;
		margin:0 !important;
		opacity:1;
		background-color: transparent;
		border: 0;
		-webkit-appearance: none;			
		span{
			font-size:20px;
		}
	}
}
.mobile-rotate{
	display:none;
	float:right;
}
@media #{$bp-phone} {
	.mobile-rotate{
		display:block;
	}
}
.filter-button{
	@include traverse-button
}
button.btn.button-btn{
	width:auto;
	text-transform:none;
	padding:0.25rem 0.5rem;
}

table.data-table{
	.functions{
		text-align:right;
		button.btn.button-btn,a.btn.btn-inline-block{
			background-color:transparent !important;
			border:solid 1px $light-grey;
			color:$ultradark-grey;
			display:inline-block;
			margin-right:7px;
			outline:none;
			&:focus,&:active{
				box-shadow:none;
			}
		}
		.form-delete{
			display:inline-block;
			button.btn.button-btn{
				height:auto;
				line-height:1.5;
			}
		}
	}
}
.task-buttons{
	text-align:right;
	button{
		font-size:.8rem;
		font-weight:600;
	}
}
#task-start-date-error-messages,#task-end-date-error-messages{
	display:none;
	padding-left:0;
}
.editing{
	#task-start-date-error-messages.active, #task-end-date-error-messages.active{
		min-height:2rem;
		padding:10px;
		font-size:16px;
		border:solid 1px #a0a0a0;
		border-radius:4px;
		background-color:white;
		position:absolute;
		z-index:9999999;
		min-width:200px;
		right:60px;
		bottom:70px;
		display:none;
		-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		&.show{
			display:inline-block;
		}
	}

}
.sidebar{
	.date-button{
		.label{
			font-size: 16px;
			&.estimated{
				opacity:0.5;
			}
		}
	}
	#task-description-content{
		display:none;
	}
	#task-description-label{
		display:none;
		font-size:1rem;
		color:black;
		padding-top:10px;
		border-top:solid 2px #c8c8c8;
		&.active{
			margin-top:20px;
			display:block;
		}

	}
		
}
.sidebar.editing{
	#start-label, #end-label{
		position:relative;
		pointer-events: none;		
		cursor:default;
		&.active{
			&:after{
				pointer-events: all;
				content:' ';
				background-image: url("/img/question.svg");
				position:absolute;
				height:20px;
				width:20px;
				right:50px;
				top:4px;
				background-repeat:no-repeat;
				cursor:pointer;
			}
		}
	}
	.date-button.active{
		.label{
			font-size: 16px;
			&.estimated{
				opacity:1;
			}
		}
	}
	#task-description-content{
		display:block;
		font-size: 16px;
		min-height: 31.6px;		
	}			
	#task-description-content-view{
		display:none;
	}
	#task-description-label{
		display:block;
		opacity:1;
		margin-top:10px;
		&.active{
			display:block;
		}

	}
	#task-schedule{
		padding-top:5px !important;
	}
}
.sidebar{
	#task-description-content-view{
		margin-top:5px;
		font-size:.9rem;
		line-height:1.3;
		color:#000;
		padding-bottom:20px;
		border-bottom:solid 2px #c8c8c8;

	}
	&#updateTask{
		.project-settings{
			display:none;
			&.open{
				display:inline-block;
			}
		}
		#saveTask{
			margin-bottom:10px;
			margin-top:10px;
			&:disabled{
				background: #707070;
				cursor:default;
				&:hover{
					opacity:1;
				}
			}
		}
		#close-task{
			margin-left:20px;
			margin-bottom:10px;
			margin-top:10px;
		}
		#deleteTask{
			margin-left:20px;
		}
		.modal-dialog{
			max-width:100% !important;
			.project-input{
				border:0;
				background:transparent;
			}
		}
		.modal-content{
			background-color:$ultralight-grey;
			.project-input{
				padding-left:4px;
			}
			.modal-header{
				border-bottom:0;
				padding-left:40px;
				padding-right:40px;
				padding-top:.5rem;
				.container{
					padding-top:0;
					max-width:100% !important;
					.task-header{
						position:relative;
						#saveTask-wrapper{
							padding:0;
							text-align:right;
						}
						.close,.cancel-add-new{
							margin-top:-5px !important;
							margin-right:-6px !important;
							color:white !important;
						}
						.modal-title{
							width:85%;
							color:$ultradark-grey;
							line-height:1;
						}
						.modal-close{
							width:15%;
						}
					}
				}
			}
		}
		.task-status-wrapper{
			display:none;
			position:relative;
			background-color:$ultralight-grey;
			#task-status{
				color:$ultradark-grey;
				padding:10px 10px 10px 20px;
				font-size:16px;
				text-align:left;
				span{
					font-weight:bold;
				}
				&.status-open{
					span{
						color:$dark-blue;
					}
				}
			}
		}
		#task-description{
			color:$ultradark-grey;
				width:calc(100% );
			.col-lg-12{
				padding:0;

			}

		}
		#task-schedule{
			padding-top:35px;
			font-size:10px;
			.row > div{
				padding-left:0;
			}

			.row{
				padding-top:0px;
				padding-bottom:0px;
			}
			.date-button{
				&.col-lg-6{
					padding:7px 20px 0 0;
				}
				&.col-lg-6:nth-child(2){
	//				padding-left:30px;
				}
				.value{
					font-weight:bold;
					font-size:2em;
				}
				.label{
					font-size: 16px;
				}
				i.estimated-date{
					opacity:.5;
				}
			}
		}
		#task-properties, #length-properties{
			.row{
				padding:4px 0px 4px 8px;
				&:nth-child(even) {
					background: $ultralight-grey;
				}
				i{
					b{
						margin-right:.2em;
					}
				}
			}
		}
		#length-properties{
			display:none;
			margin-top:20px;
			margin-left:-15px;
			margin-right:-15px;
			background-color:$ultralight-grey;
			.row{
				margin-right:0;
				margin-left:0;
				padding-left:20px;
				&.top{
					padding-top:14px;
					padding-left:0px;
					font-size:1.2em;
				}
				&.total{
					padding-bottom:21px;
					:nth-child(1){
						text-align:right;
					}
					:nth-child(2){
						border-top:solid 1px $light-grey;				
					}
				}
			}
		}
		.taskForm{
			width:100%;
			display:inline-block;
			.upperTaskForm{
				display:none;
			}
			#task-form-wrapper{
				width:100%;
				.lowerTaskForm{
					max-height: 0;
					transition-property: max-height;
					transition-duration: .5s;
					transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
					&.open{
						max-height:500px;
						transition-property: max-height;
						transition-duration: .5s;
						transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
					}
				}
				.button-wrapper{
					display:inline-block;
					width:100%;
					margin-top:10px;
					margin-bottom:25px;
					button{
						&.close-task{
							float:left;
						}
						&#taskEditToggle{
							float:right;
						}
					}
				}
			}
			#taskEditToggle{
				float:right;
			}
			.lowerTaskForm{
				width:100%;
				display:none;    
				text-align:left;
				&.open{
					display:inline-block;
					padding-top:20px;
					padding-bottom:15px;
					border:solid 1px #dcdcdc;
					border-radius:2px;
				}
			}
			.taskLinks{
				text-align:right;
				display:inline-block;
				padding:20px;
				a{
					margin:15px;
					padding:10px;
				}  
			}
			.lowerTaskForm{
				.row{
					margin-bottom:10px;
					.label-wrapper{
						display:inline-block;
						padding:7px;
						label{
							color:#a9a9a9;
							margin-top:-20px;
							display:inline-block;
							margin-left:7px;
						}
					}
					.input-wrapper{
						float:right;
						.input-clear{
							color:$light-grey;
							margin-left:10px;
							&:hover{
								cursor:pointer;
							}
						}
						input{
							width:80%;
							outline-width: 0 !important;
							border:0;
							border:solid 1px #c8c8c8;
							color:#a9a9a9;
							border-radius: 3px;
							padding:7px;
							&focus{
								outline-width: 0 !important;
							}
							&::placeholder {
								color:#d8d8d8;
							}
						}
						.input-error{
							display:none;
							color:red;
							height:0px;
						}
					}
				}
			}
			button{
				float:right;
			}
			#saveTask{
				background-color:$dark-grey;
				float:right;
				margin-bottom:10px;
				margin-top:10px;
				&:hover{
					opacity:1;
					cursor:default;            
				}
			}
			#saveTask.active{
				background-color:$light-blue;
				&:hover{
					opacity:.8;
					cursor:pointer;            
				}
			}
		}
		#task-edit-toggle{
			position:absolute;
			top:35px;
			left:-34px;
			width:50px;
			height:50px;
		}
	}
}
body.add-new-task{
	.day-container{
		&:hover{
			cursor:none;
		}
	}
	.task{
		&:hover{
			cursor:none;
		}
		.task-description{
			&:hover{
				cursor:none;
			}
		}
	}

}
.activeSidebarTask{
	.task-description{
		border-radius:5px;
		.task-description-inner{
			padding:10px;
			border-radius:4px;
		}
	}
}
.modal-body{
	padding-left:40px;
	padding-right:40px;
	input{
		&::placeholder {
			color:#d8d8d8;
		}
	}
}
button,.traverse-button,.traverse-button.nav-link{
	outline-width: 0 !important;
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	vertical-align: middle;
	z-index: 1;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;
	text-decoration: none;
	color: $black !important;
	background-color: $yellow;
	font-weight:bold;
	text-align: center;
	letter-spacing: .5px; 
	border: none;
	border-radius: 24px;
	display: inline-block;
	height: 36px;
	line-height: 34px;
	padding: 0 24px;
	vertical-align: middle;       
	&:focus, &:hover{
	  opacity:0.8;
	}
	&.negative{
		background-color:transparent;
		color:$yellow !important;
		border:solid 2px $yellow;
	}
	&.empty{
		background-color:transparent;
		color:$white !important;
	}
	&:hover{
		text-decoration:none;
	}
	&.show-filter{
		width:34px;
		height:34px;
		border-radius: 50%;
		padding:0;
		background-color:$yellow;
		background-image: url("/img/Icon-Filter.svg");
		background-size: 16px 16px;
		background-repeat: no-repeat;
		background-position: center center;			
	}
	&.show-breaks{
		width:34px;
		height:34px;
		background-color:transparent;
		background-image: url("/img/calendar-yellow.svg");
		background-size: 30px 30px;
		background-repeat: no-repeat;
		background-position: center center;			
	}
	&.edit-button{
		width:34px;
		height:34px;
		border-radius: 50%;
		padding:0;
		background-color:$yellow;
		background-size: 16px 16px;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url("/img/Icon-Edit.svg");			
		&.active{
			background-image: unset;
		}			
	}
	&.add-button{
		padding-left:35px;
		&:before{
			content: '+';
			font-size:24px;
			font-weight:400;
			position:absolute;
			left:16px;
		}
		&#new-task{
			//width:100%;
			margin-right:-7px;
			transition: width .5s;
		}
	}	
}
body.add-new-task{
	button.add-button{
		&#new-task{
			width:0%;
			font-size:0;
			transition: width .5s;
			padding-left:0;
			padding-right:0;

		}
	}	
}
.nav-item{
	line-height:1.1;
	&.timeline{
		margin-right:15px;
		button.dropdown-toggle{
			border: solid 2px $yellow;
			color:$yellow;
			font-weight:bold;
			background-color:transparent;
		}
		div.dropdown-menu.dropdown-menu-right.show{
			padding-top:0;
			margin-top:0;
			border: solid 1px $light-blue;
			left:0 !important;
			z-index:9999999;
			width:200%;
			.dropdown-item{
				color:$ultradark-grey;
				line-height:1.2;
			}
		}
		.dropdown-item{
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;			
		}
	}
	.nav-link{
		color:$white !important;
		&.button-wrapper{
			padding:0 !important;
		}
		&:active{
			color:$white !important;
		}
		&:hover{
			color:$offwhite !important;
		}
	}
}
.dropdown-item{
	&:active{
		background-color:$light-blue;
	}
	&:hover{
		background-color:transparent;
	}
}
.left{
	float:left !important;
}
body.filterByUser{
	.task.activeUserFilter{
		border:solid 2px red;
	}
}
#editModeBtn{
	display:none;
}
.arrow{
	border: solid $light-grey;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	height:15px;
	width:15px;
	margin-left:10px;
	margin-bottom:1px;
}
.arrow.down{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.arrow.up{
	margin-bottom:-7px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}
.triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 15px 15px;
	border-color: transparent transparent $light-grey transparent;	
	&.down{
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
}
.project-meta{
	#dev-help{
		//display:none;	
	}
	#settings-toggle{
		color:$med-grey;
		font-weight:bold;
		cursor:pointer;
		&:hover{
			color:#808080;
			.arrow{
				border: solid $dark-grey;
				border-width: 0 3px 3px 0;
			}
		}
	}

	.project-settings{
		padding:0;
		margin-top:-1px;
		.edit-wrapper{
			display:inline-block;
			#userToggle{
				padding:10px;
				cursor:pointer;
				color:#a8a8a8;
				border:solid 1px #a8a8a8;
			}
		}
		.row{
			margin-top:7px;
			margin-bottom:7px;
		}
		.project-teams{
			display:inline-block;
		}
		.project-settings-inner{
			z-index:999999;
			padding:1rem;
			@include card-modal;
			background-color:#dcdcdc;
			border-radius:10px;
			margin-top:25px;
			margin-bottom:3rem;
		}
	}
}
#project-description:disabled{
	&::placeholder {
		color:transparent;
	}
}
#project-start-date, #project-end-date{
	.label{
		color:#a9a9a9;
	}
	.value{
		color:white;
		margin-left:.5rem;
		min-width:130px;
	}
	.label,.value{
		font-size:1.3rem;
		display:inline-block;
	}
	display:inline-block;
	margin-right:50px;
}
textarea.project-input:not([disabled]), #project-description:not([disabled]){
	border: solid 2px #a0a0a0;
    border-radius: 4px;
    background-color: white;
    color:#212529;
}
.new-task-section {
	position:absolute;
	width:20px;
	display:none;
	&.after{
		top:calc(50% - 10px);
		right:-5px;
		.diamond-shape{
			width:30px;
			height:30px;
			border-radius:50%;
		}
	}
	&.before{
		top:calc(25% - 10px);
		left:-5px;	
	}
}
.diamond-shape {
	background: $blue;
	line-height:30px;
	padding:0;
	text-align: center;
	transform:rotate(45deg);
	cursor:pointer;
	&.active{
		background:$blue;
	}
}
.item-count {
	color: $white;
	font-size:25px;
	position:absolute;
	transform: rotate(-45deg);
	width:20px;
}
.tooltip-wrapper {
	color:$light-grey;
	display:inline-block;
	position:relative;
	text-align:left;
	margin-left:5px;
	h3{
		margin:12px 0;
	}
	.placement {
		min-width:200px;
		top:-20px;
		left:50%;
		transform:translate(-30%,-100%);
		padding:10px 20px;
		color:#ffffff;
		background-color:$bgOne;
		font-weight:normal;
		font-size:14px;
		border-radius:8px;
		position:absolute;
		z-index:99999999;
		box-sizing:border-box;
		box-shadow:0 1px 8px rgba(0,0,0,0.5);
		display:none;
		white-space:nowrap;
		&.point-left{
			&:after,&:before{
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after{
				border-color: rgba(47, 72, 88, 0);
				border-right-color: #2f4858;
				border-width: 30px;
				margin-top: -30px;
			}
		}
		&.point-down{
			&:after,&:before{
				top: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after{
				border-color: rgba(47, 72, 88, 0);
				border-top-color: #2f4858;
				border-width: 30px;
				margin-left: -30px;
			}

		}
		&.point-right{
			&:after,&:before{
				left: 100%;
				bottom: 38%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after{
				border-color: rgba(47, 72, 88, 0);
				border-left-color: #2f4858;
				border-width: 30px;
				margin-top: -30px;

			}

		}		
	}
	&:hover .placement,  &.active .placement{
		display:block;
	}
}
.children.adding-thread{
	.task-description{
		display:none;
	}
}
.task{
	transition:padding .1s;
	.tooltip-wrapper{
		display:none;
	}
	&.adding-child{
		background-color:$selectChild;
		&:after{
			@include diamond;
			position:absolute;
			right:calc(-1 * ( 50px/2 - 3px)) ;
			top:calc(50% - 45px);
			font-size: 50px;
		}
	}
	&.adding-thread{
		&:before{
			position:absolute;
			content:'\25C6';
			color:$blue;
			right:0;
			top:0;
			margin-right:100% ;
			padding-right:50px;
			padding-left:50px;
			font-size: 50px;
			line-height:100%;
			border:solid 2px $white;
			background-color:$light-grey;
			height:50%;
			vertical-align:middle;
			border-radius:4px;
			display:flex;
			flex-direction:row;
			align-items: center;
			justify-content: center;					
		}
	}
	&.adding-parent{
		background-color:$selectParent;
	}
	&.short-width{
		.task-description{
			padding-left:0;
			padding-right:0;
			display:inline-block;
			background-color:transparent;
			.tooltip-wrapper{
				position:absolute;
			}
			.task-description-inner{
				height:44.4px;
				padding-left:7px;
				padding-right:7px;
				&:after{
					width:100%;
					text-align:center;
					content:'...';
				}
			}
		}
		.task-description{
//			cursor:pointer;
			&:hover{
				.tooltip-wrapper{
					display:inline-block;
					top:-35px;
					left:0px;
				}
				visibility:visible;
				background-color:transparent;
				.task-description-inner{
					.description-text{
						display:none;
					}
				}
				.top{
					font-style:normal;
					height:44.4px;
					top:5px;
					left:48px;
					display:inline-block;
					width:auto;
					margin-top:30px;
					background-color:$white;
					color:$ultradark-grey;
					border-radius:4px;
					padding-left:30px;
				}
			}
		}
	}
	&.newTaskOnLeft{
//		background:white;
		padding-left:20px;
		transition:padding .1s;
	}
	&.newTaskOnRight{
//		background:white;
		padding-right:20px;
		transition:padding .1s;
	}	
}

	
.tooltip-wrapper.tour{
	display:none;
	.placement{
		display:none;
	}
}
.tutorial-banner-wrapper{
	display:none;
	background-color:$dark-blue-rgba-fade;
	color:white;
	position:fixed;
	bottom:0;
	width:100%;
	z-index:9999999;
	height:100vh;
	.tutorial-banner{
		position: absolute;
		top: 50%;
		width:60%;
		margin-left:20%;
		color: $dark-blue;
		transform: translateY(-50%);
		background-color:white;
		padding:70px 80px 70px;
		opacity:1;
		border-radius:10px;
		-webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.1);
		overflow:hidden;
		h1{
			color:$dark-blue;
		}
		.banner-content{
			display:inline-block;
			margin-top:35px;
			img{
				float:left;
				width:40%;
				height:auto;
				opacity:0.5;
				margin:-35px 40px 10px 5px;
			}
			font-size:16px;
			line-height:30px;
		}
		#buttonDiv{
			text-align:right;
			width:100%;
			#skipTour{
				cursor:pointer;
				text-decoration:underline;
				color:#6c63ff;
				margin-right:40px;
				top:-4px;
				position:relative;

			}
			#startTutorial{
				margin-top:-5px;
				margin-right:10px;
				background-color:$orange-rgba;
				opacity:1;
			}
		}
	}
}
.project-tour{
	.tooltip-wrapper.tour{
		cursor:default;
		display:none;
		.placement{
			font-style:normal;
			display:inline-block;
			min-width:400px;
			max-width:800px;
			left:unset;
			transform:unset;
			height:220px;
			opacity:1;
			-webkit-transition: opacity 1s;
			transition: opacity 1s;
			&:hover{
				-webkit-transition: opacity 1s;
				transition: opacity 1s;
			} 
			.content{
				direction:ltr;
			}
			#nav_wrapper{
				display:block;
				width:100%;
				position:absolute;
				bottom:0px;
				left:0;
				padding: 20px 25px ;
				a{
					font-weight:bold;
					background-color:transparent;
					&.nextState{
						float:right;
					}
					&:hover{
					   cursor:pointer;                        
					}
				} 
			}
			&.left{
				top:20px;
				right:10%;
				transform:translate(0%,-100%);				
			}
			&.top{
				top:20px;
				left:10%;
				transform:translate(0%,-100%);
			}
		}
	}
}
#ui-datepicker-div.ui-widget.ui-widget-content{
	.ui-datepicker-calendar{
		width: 100%;
		font-size: .9em;
		border-collapse: collapse;
		margin: 0 0 .4em;
		line-height:1.2;
		.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
			border: 1px solid #dad55e;
			background: white;
			color: #777620;
		}
	}
}
.react-div-wrapper{
	position:relative;
}
.traverse-button{
	&.grey-button{
		color: #263f50;
	}
}
#setPivot{
	height:0;
	padding:0;
	border:none;
	position:absolute;
	left:205px;
	top:0;
} 
.project-name{
	float:left;
	margin-right:10px;
}
.textarea-wrapper{
	width:auto;
    overflow:hidden;
	.expanding-textarea{
		resize:none;
		-moz-box-sizing:border-box;
	    -webkit-box-sizing:border-box;
	    box-sizing:border-box;
	    display:inline-block;
	    width:calc( 100% );
	    margin:0;
	    padding:4px;
	    overflow-y:auto;
	    overflow-x:hidden;
	    font-size:1.8rem;
	    border:0;
	    color:$white;
	    padding-left:10px;
	    background-color:transparent;
	    &.edit-input{
	    	color:$black;
		    background-color:$white;
				border: solid 2px #a0a0a0;
				border-radius: 4px;
	    }
	}
}
#userSelect{
	display:none;
}
i.arrow {
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	position:absolute;
	bottom:30px;
	height:30px;
	width:30px;
	display:none;
	&.right {
		right:30px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	&.left {
		left:30px;
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
	}
}
.numberCircle {
	display:none;
	position:absolute;
	border-radius: 50%;
	width:25px;
	height: 25px;
	background: $dark-blue-rgba-fade;
	border: 25px solid $dark-blue-rgba-fade;
	color: white;
	text-align: center;   
	font-size: 25px;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	span{
		position:absolute;
		top:-22px;
		left:-6px;
	}
	z-index:100;
	&.active{
		display:block;
	}
	&.active, &:hover{
		z-index:99999;
		cursor:pointer;
		background: $dark-blue;
		border: 25px solid $dark-blue;        
	}
	&[data-number="1"]{
		top:-200px;
		right:0;
	}
	&[data-number="2"]{
		top:90px;
		left:190px;
	}
	&[data-number="3"]{
		top:-95px;
		right:-8px;
	}
}
#toggleTour{
	display:none;
	background-color:$orange;
	margin-right:20px;
}
.hide-project-tour{
	.numberCircle{
		display:none !important;
	}
	#toggleTour{
		display:inline-block;
	}
}
#task-error-message{
	display:block;
	width:100%;
	.message{
		margin-bottom:20px;
		margin-top:10px;
		color:red;
		font-style:italics;
	}
}
.project-tour{
	#toggleTour{
		display:inline-block;
	}
	&.tour-intro{
		#toggleTour{
			display:none;
		}    
	}
	#editMode{
		color:$dark-blue;
		tex-decoration:underline;
		cursor:default;
	}
}
.hidden-input{
	display:none;
}
.project-edit,.adding-task{
	.hidden-input{
		display:inline-block;
	}
	.task:hover{
		.task-description{
			z-index:1;
		}
		.taskEditor{
			z-index:2;
			display:inline-block;
			.new-task-section{
				display:inline-block;
			}
		}
	}
	.adding-thread{
		.taskEditor{
			display:inline-block;
			> .new-task-section.after{
				display:inline-block;
				right:-25px;
			}
		}
	}
	#updateTask{
		#start-value, #end-value{
			display:none;
		}
		.modal-content{
			.modal-header{
				.container{
					.task-header{
						.modal-title{
							max-height:50px;
							width:100%;
							line-height:1;
						}
						.modal-close{
							display:none;
						}
					}
				}
			}
		}
	}
	#project-width{
		#project-data{
			#project-description-wrapper{
				#project-description{
					color:$black;
				}
			}
		}
		.project-name{
			color:$black;
			.project-input{
				color:$black;
			}
		}
	}
}
#project-width{
	padding-left:0;
	padding-right:0;
	#project-data{
		#project-description-wrapper{
			margin-bottom:10px;
			#project-description{
				color:$dark-grey;
				width:100%;
			}
		}
	}
	.pj-inner{
		row{
			padding-left:12px;
		}
	}
	.project-name{
		padding-left:10px;
		display:inline-block;
		padding-top:10px;
		color:$dark-grey;
		.project-input{
			color:$dark-grey;
		}
	}
	#editMode, #settings-toggle button{
		text-transform:none;
		&.active{
			@include active-edit-button
		}
	}
}
.editOnly{
	display:none;
}
body{
	&.active-user-filter,.active-group-filter{
		.task{
//			background-color:#d0d0d0;
		}
	}
}
#add-task-message,#sidebar-add-task{
	.task-select{
		margin-top:15px;
		display:inline-block;
		width:100%;
		padding:10px;
		//cursor:pointer;
		border:solid 1px $ultralight-grey;
		font-size:18px;
		font-weight:bold;
		line-height:22px;
		&:hover{
			background-color:$ultralight-grey;
		}
		.select-option{
			display:none;
		}
		.task-select-child{
			background-color:$selectChild !important;
			color:$white;
		}
		.task-select-parent{
			background-color:$selectParent !important;
		}
		.task-select-parent,.task-select-child{
			display:inline-block;
			padding:5px 10px;
			color:$white;
			border-radius:2px;
			margin-left:6px;
			margin-right:6px;
		}
		.select-text{
			padding-top:4px;
			width:100%;
			text-align:left;
			display:inline-block;
		}
		.task-diamond{
			display:inline-block;
			position:relative;
			width:25px;
			&::after{
				position:absolute;
				top:-18px;
				right:0px;
				font-size:30px;
				@include diamond
			}

		}
	}
}
body.adding-task-hover{
	.task:not(.adding-child):not(.adding-parent){
		background-color:$light-grey;
	}
}
body.adding-task{
	.task:hover{
		.taskEditor{
			height:100%;
			width:100%;
			position:absolute;
			top:0;
			left:0;
			right:0;
			border-radius:4px;
			display:inline-block;
			.buttons{
				display:none;
			}
		}
	}
}
body:not(.adding-task):not(.add-new-task){
	.task{	
		cursor:pointer;
		.task-description:hover{
			background-color:transparent;
			z-index:99999999;
			width:auto;
			display:block;
			max-width:none !important;
			.task-description-inner{
				padding-right:40px;
			}
		}
	}

}

.user-filter-wrapper{
	width:100%;
	vertical-align:top;
	
	&#userFilterMain{
		display:inline-block;
		#user-filters{
			.user-filter-groups-wrapper{
				text-align:left;
				.user-filter-group{
					padding:10px;
					border-radius:8px;
					vertical-align:top;
					display:inline-block;
					cursor:pointer;
					list-style: none;
					margin: 0;		
					margin-right:50px;
					margin-left:25px;
					position:relative;			
					.sub-group{
						padding-inline-start:0;
					}
					.filter-group{
						.group-label{
							width:100%;
							color:$dark-grey;
						}
					}
					&.active{
						.filter-group{
							.group-label, .user-label{
								color:$ultralight-grey;
							}
						}
					}
					&:after{
						content:'';
						width:20px;
						height:20px;
						border-radius:50%;
						position:absolute;
						top:10px;
						left:-20px;
						content: '';
						font-size: 50px;
					}
					ul{
						list-style-type:none;
						.filter-user{
							display:inline-block;
							position:relative;
							width:100%;
							border-radius:5px;
							.user-label{
								float:right;
								display:inline-block;
								text-align:left;
								color:$dark-grey;
							}
							.legend-color{
								display:inline-block;
								margin-top:7px;
								height:20px;
								width:20px;
							}
							&.active{
								.user-label{
									color:$ultralight-grey;
								}
							}
						}
					}					
				}	

			}

		}
	}

}
#app{
	display:inline-block;
	width:100%;
	.promotion{
		display:none;
		h2{
			width:100%;
			background-color:$yellow;
			text-align:center;
			color:$white;
			padding:10px;
			box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);				
		}
	}
	.main{
		width:100%;
		display:inline-block !important;
	}
	&.project-edit,&.task-edit,.task-edit{
		#updateTask{
			.editOnly{
				display:block;
			}
		}
		.sidebar#updateTask{
			.modal-dialog{
				max-width:100% !important;
				.project-input{
					border:solid 2px $dark-grey;
					border-radius:4px;
					background:$white;
				}
			}
			.modal-title{
				line-height:1;
				width:calc(100% - 30px);
			}
			.modal-header{
				padding-right:1rem;
			}						
		}			
	}
	&.new_task{
		.cancel-add-new{
			display:none;
		}
		#task-edit-toggle{

		}
	}
}
#sidebar-update-task.container{
	padding-left:0;
	padding-right:0;
	.col-lg-6,.col--lg-12{
		padding-left:0;
		padding-right:0;
	}
}
.current-group-select{
	list-style-type:none;
	li{
		padding:20px;
		border:solid 1px gray;
		border-radius:5px;
		margin-top:5px;
		&:hover{
			background-color:$light-grey;
		}
		a{
			display:block;
			&:hover{
				text-decoration:none;
			}
		}
	}	
}
#partnerModal, #contractModal{
	ul.manage-partners{
		list-style-type:none;
		li{
			line-height:3rem;
			padding-left:10px;
			padding-right:10px;
		}
		.delete-btn{
			border:solid 1px red;
			color:red !important;
			background:transparent;
			padding:0 12px;
			margin-right:10px;
			&:hover{
				background:red;
				color:white !important;
			}
		}
	}
	#groupOption{
		padding-bottom:30px;
		text-align:center;
		.nav-pills{
			z-index:3;
			margin-top:20px;
			display:inline-block;
			text-align:center;
			li{
				display:block;
				float:left;
				overflow:hidden;
				&:last-child{
					border-left:0;
				}
				a{
					border-top-left-radius:4px;
					border-top-right-radius:4px;
					background-color:purple;
					display:block;
					padding:20px;
					color:white;
					font-weight:bold;
					&:hover{
						text-decoration:none;
					}
					&.active{
						color:black;
						background-color:#e8e8e8;
						border:solid 1px purple;
						border-bottom:0;
					}
				}
			}
		}
	}
	.tab-content{
		background-color:#e8e8e8;
		margin-left:20px;
		margin-right:20px;
		margin-bottom:30px;	
		margin-top:-8px;
		border:solid 1px purple;
		padding:20px;
		z-index:1;
	}
	button#projectPartner{
		float:right;
		margin-top:10px;
	}
}
#schedule_wrapper{
	text-align:left;
	.phase-wrapper{
		text-align:left;
		margin-bottom:30px;
		h2{
			margin-bottom:0;
		}
		.contract-task-description{
			margin-left:20px;
		}
		.contract-task-name{
			color:red;
		}
		.contract-task-length{
			color:blue;
		}
	}	
}

#project-partners{
	display:none;
	.assign-task{
		a.anchor{
			text-decoration:underline !important;
			color:blue !important;
			font-size:12px;
			cursor:pointer;
			text-align:right;
			float:right;
		}
		.assignWrapper{
			display:block;
			.radio-wrapper{
				label{
					margin-left:10px;
					&.partner-label{
						font-weight:bold;
					}
				}
			}
			.partner-sub{
				padding-left:40px;
			}
		}
		.assign-task-inner{
			display:block;
			.field-wrapper{
				padding-top:5px !important;
			}
		}
		&.closed{
			.assign-task-inner{
				display:none;
			}
		}
		#assignTask-toggle{
			float:right;
			#toggleLabel{
				width:100%;
				display:block;
				color:#808080;
				text-align:right;
			}
		}
	}
}
#filter-wrapper{
	display:inline-block;
}
.task-owner-label-wrapper-wrapper{
	padding:0;
	#task-owner-label-wrapper{
		color:black;
		width:100%;
		padding: 10px 20px 10px 0px;
		font-size:.9rem;
		#task-owner-label{
			font-weight:800;
		}
	}
}
.project-filters{
	width:100%;
	#all-filters{
		float:left;
	}
}
.close{
	font-size:2rem !important;
}
.filter-toggle{
	.acc-tog-wrapper{
		margin-bottom:8px;
		.acc-label{
			color:$dark-grey;
		}
	}
	.acc-tog{
	    cursor:pointer;
	    height:20px;
	    width:20px;
	    line-height:20px;
	    position: relative;
	    float:left;
	    margin-right:25px
	}
	.vertical {
	    transition: all 0.5s ease-in-out;
	    transform: rotate(-90deg);
	}
	.horizontal {
	    transition: all 0.5s ease-in-out;
	    transform: rotate(-90deg);
	    opacity: 1;
	}
	.horizontal {
		position: absolute;
		background-color: $dark-grey;
		width: 20px;
		height: 2px;
		left: 50%;
		margin-left: -10px;
		top: 50%;
		margin-top: -1px;
	}
	.vertical {
		position: absolute;
		background-color: $dark-grey;
		width: 2px;
		height: 20px;
		left: 50%;
		margin-left: -1px;
		top: 50%;
		margin-top: -10px;
	}
	&.active{
		opacity: 1;
		.vertical {
			transition: all 0.5s ease-in-out;
			transform: rotate(90deg);
		}
		.horizontal {
			transition: all 0.5s ease-in-out;
			transform: rotate(90deg);
			opacity: 0;
		}
	}
}
.toastui-calendar-weekday-grid-date-decorator{
	background: none !important;
	color:'#263e50';
	font-size:1.5rem;
}
.toastui-calendar-weekday-grid-line{
	&:hover{
		cursor:pointer;
	    background-color:gray !important;
	}
}
.toastui-calendar-floating-layer{
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	background:blue;
	right: 0 !important;
	.toastui-calendar-popup-container{
		position: fixed !important;
		top: 0 !important;
		left: 0 !important;
		bottom: 0 !important;
		height: 100vh !important;
		right: 0 !important;
		background:rgba(0, 0, 0, 0.6);
		display: flex !important;
		justify-content: center;
		align-items: center;
	}
}
.toastui-calendar-form-container{
	position:relative;
}
.toastui-calendar-event-detail-popup-slot{
	.toastui-calendar-popup-container{
		form{
			position:absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			text-align: center;
		}
	}
}
#toastui-calendar-schedule-private{
	display:none;
}
#traverse-custom-popup-title{
	font-weight:bold;
}
.toastui-calendar-popup-container,
.toastui-calendar-popup,.toastui-calendar-event-detail-popup-slot{
	select{
	    font-size: 14px;
	    color: $med-grey;
	    line-height: 1.2;
	    padding: .2em 2em .2em .5em;
	    box-sizing: border-box;
	    margin: 0;
	    border: 1px solid $light-grey;
	    border-radius: 2px;
	    -moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;
	    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	    	    background-repeat: no-repeat, repeat;
	    background-position: right .7em top 50%, 0 0;
	    background-size: .65em auto, 100%;
	    &:focus{
		    outline-width: 0;
	    }
	}
	select::-ms-expand {
	    display: none;
	}
	select:hover {
	    border-color: $light-grey;
	}
	select:focus {
	    border-color: $light-grey;
	    box-shadow:none;
	    color: $med-grey; 
	    outline: none;
	}
	select option {
	    font-weight:normal;
	}
	.tui-datepicker{
		z-index:2;
	}
	.toastui-calendar-button{
		z-index:1;
	}
	#cloned-break-filters{
		margin-top:20px;
		padding-top:17px;
		color: $med-grey;
		border-top:solid 1px $light-grey;
		padding-bottom:12px;
	}
	.toastui-calendar-popup-section{
		position:relative;
		.toastui-calendar-popup-section-item.toastui-calendar-popup-section-title{
			width:100%;
			margin-top:20px;
			margin-bottom:10px;
		}
		.toastui-calendar-popup-section-item.toastui-calendar-popup-section-location{
			display:none;
		}	
		.toastui-calendar-popup-section-item.toastui-calendar-popup-section-allday{
			display:none;
		}
		.toastui-calendar-popup-section-private.toastui-calendar-popup-button{
			display:none;
		}
		&.toastui-calendar-state-section{
			display:none;
		}
		.toastui-calendar-section-start-date, .toastui-calendar-popup-section-end-date{
			width:212px !important;
		}
		.toastui-calendar-section-title.empty-input{
			border:solid 1px red;
		}
	}
	.toastui-calendar-section-button-save{
		margin-top:20px;
	}
}
.breaks-layout{
	.card-body{
		padding:20px;
	}
	#menu{
		text-align:center;
		a.move-day{
			display:block;
		}
		padding:20px;
		#renderRange{
			margin-bottom:10px;
		}
		#menu-navi{
			button{
				background-color:transparent;
				color:black;
				border:solid 1px #c0c0c0;
				&.move-day[data-action="move-prev"] {
					background-color:blue;
				}
			}
		}
	}
}
#calendar-wrapper{
	.task{
		.task-days-wrapper{
			position:relative;
			z-index:50;
			width:100%;
			height:100%;
			background-color:purple;
			border-radius: 4px;
			display:inline-block;
			overflow:hidden;

			.taskDay{
				display:inline-block;
				text-align: center;
				position: relative;
				z-index: 999;
				color: #a9a9a9;
				border-radius: 3px;
				font-weight: 800;
				font-size: 15px;
				padding-bottom: 5px;
				height:100%;
				&.closedDate{
					@include closed-day		    
				}
				&.activeCalendarClick{
					@include active-calendar-click		    
				}
				&.activeCalendarDblClick{
					@include active-calendar-dblclick		    
				}
			}
		}
	}
	.day-container{
		&:after{
			height:300px;
			width:100%;
			content:" ";
			position:absolute;
			right:0;
			z-index:1;
			border-right:solid 1px #ffffff;
			opacity:0.2;
		}
	}
	&.filter-blocked-days{
		.task{
			.task-days-wrapper{
				.taskDay{
				    &.blocked{
						@include blocked-day
				    }

				}
			}
			&.pending{
				.taskDay.blocked{
					@include blocked-day-dark			
				}
			}
		}
		.month{
			.day-container{
				&:before{
					content:'';
				}
				&.blocked{
					.day{
						//display:inline-block;
						//@include blocked-day
					}
				}
			}
		}
	}
}
.dropdown-item.no-link{
	background-color:transparent
	&:hover{
		background-color:transparent;
	}
}
.sub-dropdown-item{
	padding-left:40px;
}
#notes-wrapper{
	display:flex;
	#notes-list-wrapper{
		#notes-list{
			width:80%;
			overflow:hidden;
			list-style-type:none;
			padding-inline-start:0;
			-webkit-transition: height .8s ease;
			transition: height .8s ease;			
			.note{
				position:relative;
				padding:10px;
				color:#f8f8f8;
				-webkit-transition: color 1s;
				transition: color 1s; 			
				&.active{
					color:black;
					display:block;
					min-height:50px;
					-webkit-transition: color 1s;
	        		transition: color 1s; 				
				}
				.note-title{
					font-size:1.2em;
					margin-bottom:5px;
				}
				.note-content{
					padding-left:27px;
				}
				.note-overlay{
					position:absolute;
					top:0;
					right:0;
					left:0;
					height:100%;
					opacity:0.5;
					z-index:9999;
				}
				&.prevNote{
					.Vnote-overlay{
						background: #000;
						background: linear-gradient(#000,#999);								
					}
				}
				&.nextNote{
					.Vnote-overlay{
						background: #999;
						background: linear-gradient(#999, #000);				
					}
				}
			}
		}
	}
	#notes-nav-wrapper{
		min-width:70px;
		align-items: stretch;
		position:relative;
		.note-counter{
			display:block;
			height:25px;
			color:$light-grey;
			margin-left:-10px;
			.count-x{
				display:inline-block;
				width:15px;
				text-align:right;
			}
			.count-of{
				display:inline-block;
				width:20px;
			}
		}
		.triangle{
			display:inline-block;
			&.up{
				position:relative;
			}
			&.down{
				position:relative;
			}
		}
	}
}
#app{
	.main{
		.btn-danger {
			color: #fff;
			background-color: $violet;
			border-color: $violet;
		}
		.btn-danger:hover {
			color: #fff;
			background-color: #c82333;
			border-color: #bd2130;
		}
		.btn-danger:focus, .btn-danger.focus {
			box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
		}
		.btn-danger.disabled, .btn-danger:disabled {
			color: #fff;
			background-color: $violet;
			border-color: $violet;
		}
		.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
		.show > .btn-danger.dropdown-toggle {
			color: #fff;
			background-color: #bd2130;
			border-color: #b21f2d;
		}
		.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
		.show > .btn-danger.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
		}
	}
}
html{
	body.landing{
		height:100vh;
		width:100%;
		background-image:url('/img/landing-hero.jpg');
		background-repeat: no-repeat;
		background-position: 0 -250px;
		background-size:100% auto;				
		#app{
			.navbar{
				background:transparent;
			}
			#hero{
				position:absolute;
				top:100px;
				left: 50%;
				width:100%;
				font-family:'Sora';
				text-align:center;
				transform: translate(-50%, -50%);
				h1{
					font-family:'Sora';
					text-align:center;
					margin-top:150px;
					color:$white;
				}
				p{
					margin-top:20px;
					color:$white;
				}
			}
		}
	}
}
#app[class*="listview-"]{
	table.table{
		button{
			background:transparent;
		}
		tr.tr-href{
			&:hover{
				cursor:pointer;
			}
		}
	}
}
.card-body{
	form{
		padding:2rem;
	}
}
.model-back{
	padding-left:20px;
	padding-right:20px;
	&:before{
		content:'<';
		positon:absolute;
		left:-10px;
	}
}
.model-add-new{
	padding-left:20px;
	padding-right:20px;
	&:before{
		content:'+';
		positon:absolute;
		left:-10px;
	}	
}
.label-no-input{
	padding-left:0.75rem;
}
form{
	.form-group{
		.checkbox-list{
			padding-left:2rem;
			input,label{
				display:inline-block;
				width:unset;
			}
		}
	}

}
body.cursor-contained{
	input[type="range"]{
		cursor:none;
	}
}