/*
 * Customizer styles related to this theme
 * Adjusts styling for theme option controls in the Customizer
 * @package unBlock
 * @since 1.0.0
 */

.customize-control-toggle label .customize-control-title {
  color: #404040;
}

.customize-control-title {
  line-height: 1.4;
}

.customize-control-toggle .switch {
  top: 6px;
}

.customize-control {
  margin: 10px 0;
}

span.description.customize-control-description {
  margin: 0.5rem 0;
}

/* Upgrade Styles */
.rp-pro-title {
  font-weight: 600;
}

.rp-pro-title,
.rp-discount {
  font-size: 1rem;
}

.rp-pro-list {
  list-style: none;
  font-size: 1rem;
  margin: 0 0 1.5rem;
}

.rp-discount-code {
  color: #d35757;
  margin: 1rem 0;
  font-weight: 700;
}

.rp-get-pro.button {
  background: #2271b1;
  color: #fff;
  display: block;
  margin: 1rem 0;
  text-align: center;
  padding: 0.25rem;
  font-size: 1rem;
}

/*User stick note*/
.customizer-control-heading {
  display: block;
  background-color: #8e9194;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0;
  padding: 5px 8px;
}

/* Control Headings */
span.customizer-control-heading {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
  display: block;
  border: 1px solid #626060;
  padding: 5px;
  background: #626060;
}

/* Info description */
#customize-control-unblock_blog_thumbnails_note .customize-control-description,
.info-desc {
  font-size: 0.938rem;
  line-height: 1.4;
  color: #000;
  margin-bottom: 1.5rem;
}

h3.sticky_title {
  margin-top: 12px;
  margin-bottom: 11px;
}

span.sticky_info_row {
  display: block;
  line-height: 23px;
}

label.row-element {
  font-weight: bold;
}

label.row-element.more-detail {
  color: #ff0000;
}

.customize-text_editor {
  font-size: 16px;
  font-weight: bold;
}

.customize-text_editor_desc a {
  background-color: #0089BD;
  padding: 4px;
  color: #fff;
  border-radius: 7px;
  margin: 2px 0;
  display: inline-block;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

.customize-text_editor_desc a:hover {
  background-color: #fff;
  color: #0089BD;
}

.customize-text_editor_desc .download-link {
  display: block;
}

.customize-text_editor_desc span {
  padding: 2px;
  margin: 0;
  display: inline-block;
}

#accordion-section-theme_info {
  color: #0089BD;
}

.control-section-pro-section .accordion-section-title .button {
  margin-top: -4px;
  font-weight: 700;
  margin-left: 8px;
  background: #f89300;
  color: #fff;
  border-color: #f89300;
  padding: 0 20px 1px;
}

.control-section-pro-section .accordion-section-title .button:hover,
.control-section-pro-section .accordion-section-title .button:focus {
  background: #dc8200;
  border-color: #dc8200;
}

.rtl .control-section-pro-section .accordion-section-title .button {
  margin-left: 0;
  margin-right: 8px;
}